#java
*.class


#eclipse
.metadata
.settings
.classpath

#maven
target

#other
test-output
.svn
temp
src/workspace/RemoteSystemsTempFiles
src/czsem/intlib/documents
src/czsem/resources/Gate/learning/czech_law/*/savedFiles/
src/czsem/intlib/train-10-fold-cross
src/czsem/intlib/export
src/czsem/intlib/SpcInteractionExport/
src/workspace/gate_debug/
src/czsem/intlib/histograms/
src/czsem/intlib/storePok/
src/workspace/
